@import "variables";
@import "mixins";

.field-grouping {
  width: 100%;
  min-height: 40px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  > label {
    width: 100%;
    height: 1.4rem;
    display: block;

    padding: 15px 0 3px 0;

    font-size: 1.2rem;
    text-transform: uppercase;
    color: $gray-150;
  }

  > input {
    @include input-base;
  }
}

.input-form {
  @include input-base;
}

.select-form {
  width: 100%;
  display: block;

  > div {
    height: 40px !important;

    @include box-shadow-default;

    .vs__search {
      color: red;
    }
  }
}